<div class="parent">
  <div class="child">
    <header>
      <h1>Make Your Poster</h1>
    </header>
    
    <div class="input_form row">
      <form action="/write" method="POST" enctype="multipart/form-data">
        <div class="form-group"> <!-- form group은 한 줄 / for inline은 같은 줄 -->
          <label class="sr-only" for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title" name="title">
        </div>
        <div class="form-group">
          <label class="sr-only" for="detail">Detail</label>
          <textarea type="text" class="form-control" id="detail" placeholder="Detail" name="detail"></textarea>
        </div>
        <div class="form-group">
          <label class="sr-only" for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Address" name="address">
        </div>
        <div class="form-group">
          <label class="sr-only" for="picture">Image</label>
          <input type="file" class="fileinput" name="picture" id="picture">
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>
  
  <div class="child">
    <div class="poster2"> <!-- id="html-content-holder" -->
        <div class="wrapper">
          <div class="resize title">제목</div>
        </div>
        <div class="wrapper">
          <div class="img">img1</div>
          <div class="img">img2</div>
        </div>
        <div class="wrapper">
          <div class="memo">memo1</div>
          <div class="memo">memo2</div>
        </div>
        <!--<div class="wrapper">-->
        <!--  <div class="img">img1</div>-->
        <!--  <div class="img">img2</div>-->
        <!--</div>-->
        <!--<div class="wrapper">-->
        <!--  <div class="memo">memo1</div>-->
        <!--  <div class="memo">memo2</div>-->
        <!--</div>    -->
        <div class="wrapper">
          <div class="footer">ㅎㅎㅎ</div>
        </div>
    </div>
  </div>
</div>